<div class="modal-header">
    <h3 class="modal-title">Créer une tâche</h3>
</div>
<div class="modal-body">
    <form>
        <div class="form-group">
            <label for="tacheModalLibelle">Libelle</label>
            <input type="text" id="tacheModalLibelle" class="form-control" ng-model="tacheModal.tache.libelle">
        </div>
    </form>
</div>
<div class="modal-footer" style="text-align: center">
    <button type="button" class="btn btn-success" ng-click="tacheModal.close()" ng-disabled="!tacheModal.isValidated()">Créer</button>
    <button type="button" class="btn btn-danger" ng-click="tacheModal.dismiss()">Annuler</button>
</div>