<section>
    <form ng-if="tachesView.selected.tache">
        <div class="form-group">
            <label for="asideTacheLibelle">Libelle</label>
            <input type="text" id="asideTacheLibelle" class="form-control" ng-model="tachesView.selected.tache.libelle">
            <p class="form-control-static" ng-bind="tachesView.selected.tache.libelle"></p>
        </div>
    </form>
    <div ng-if="tachesView">TachesView</div>
    <div ng-if="!tachesView">Not tachesView</div>
    <div ng-if="tachesView.selected.tache">Tache selected</div>
    <div ng-if="!tachesView.selected.tache">Tache not selected</div>
    <button type="button" class="btn btn-primary" ng-click="tachesView.log()">Log</button>
</section>